.button {
  font-weight: 600;

  display: flex;
  gap: 0.5rem;

  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
}

.button--primary {
  $-background-color: white;
  color: black;

  background-color: $-background-color;

  &:hover {
    background-color: transparentize($color: $-background-color, $amount: 0.25);
  }
}

.button--secondary {
  $-background-color: transparentize(
    $color: hsl(0, 0%, 40%),
    $amount: 0.25,
  );
  color: white;

  background-color: $-background-color;

  &:hover {
    background-color: transparentize($color: $-background-color, $amount: 0.25);
  }
}
