:root {
  --neutral-color-100: hsl(0, 0%, 100%);
  --neutral-color-200: hsl(0, 0%, 90%);
  --neutral-color-300: hsl(0, 0%, 70%);
  --neutral-color-900: hsl(0, 0%, 8%);
  --neutral-color-900-transparent: hsla(0, 0%, 0%, 0.7);

  --accent-color: hsl(357, 92%, 47%);
}
